@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: 'poppins';
}

body {
  background: #30190F;
  color: white;
  background-image: url("./assets/background/background-math.png");
  background-size: cover;
  overflow-y: hidden;
  max-height: 100vh;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* Apply to the entire document */
body::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

body::-webkit-scrollbar-thumb {
  background-color: #FBE8CD; /* Button color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Optional: Adds some space between thumb and track */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #FFD9A5; /* Optional: Slightly darker color on hover */
}

/* For non-WebKit browsers */
body {
  scrollbar-width: thin; /* Makes the scrollbar thinner (for Firefox) */
  scrollbar-color: #FBE8CD transparent; /* Thumb color and track color */
}